* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.7fr 1.7fr 1.7fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "menu-navegacion" "section-one" "section-two" "section-three" "footer"; }

.menu-navegacion {
  grid-area: menu-navegacion; }

.section-one {
  grid-area: section-one; }

.section-two {
  grid-area: section-two; }

.section-three {
  grid-area: section-three; }

.footer {
  grid-area: footer; }

.menu-navegacion .img-fluid {
  max-width: 100px; }
