@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../assets/nosotros/background-nosotros.png);
  background-repeat: no-repeat;
  background-size: cover; }

.section-one__img--anonymous, .section-two__img, .section-three__img {
  max-width: 80vw;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 10px; }

.section-two__p, .section-three__p {
  padding: 20px;
  text-align: center;
  margin: 10px;
  text-shadow: 0 0 20px black;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif; }

.section-one, .section-two, .section-three, .footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-one__a {
  margin: 30px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 10px;
  background-color: #ef233c;
  border: solid 2px #ef233c;
  border-radius: 14px;
  box-shadow: 0 0 7px 3px #9b9ce2; }

.navbar-toggler {
  background-color: white; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "menu-navegacion" "section-one" "section-two" "section-three" "footer"; }

.menu-navegacion {
  grid-area: menu-navegacion; }

.section-one {
  grid-area: section-one; }

.section-two {
  grid-area: section-two; }

.section-three {
  grid-area: section-three; }

.footer {
  grid-area: footer; }

.menu-navegacion .img-fluid {
  max-width: 100px; }

.menu-navegacion a {
  color: white;
  padding: 5px;
  margin: 10px;
  text-decoration: none; }
  .menu-navegacion a--active {
    background-color: white; }

.nav-linnk.active {
  color: .nav-linnk.active blanco; }

.color-nav {
  background-color: #2b2d42; }

@media (min-width: 1024px) {
  .navbar-collapse {
    justify-content: flex-end; } }

.section-one__img {
  max-width: 80vw;
  border: 2px solid transparent;
  margin: 10px; }

.section-one__a--card {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #ef233c;
  padding: 10px;
  border-radius: 10px; }

.section-one__h1 {
  margin: 10px;
  font-family: "Roboto", sans-serif; }

.section-one__container {
  background-color: #8d99ae;
  margin: 10px;
  padding: 10px;
  border: solid 2px #edf2f4;
  border-radius: 10px;
  display: flex;
  flex-direction: column; }

.section-one__checkbox-container {
  display: flex;
  flex-direction: row; }

.section-one .card {
  background-color: #edf2f4;
  margin-top: 15px; }

.section-one .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

@media (min-width: 1024px) {
  .section-one__card-container {
    display: flex; }
  .section-one__container {
    margin: 100px; }
  .card {
    margin-inline: 10px; } }

.section-two {
  margin-inline: 10%; }
  .section-two__h1 {
    font-family: "Roboto", sans-serif;
    margin: 10px;
    color: #2b2d42;
    text-shadow: 0 0 20px black; }
  .section-two__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-two .card {
    background-color: #edf2f4;
    margin-top: 15px; }

@media (min-width: 1024px) {
  .section-two {
    flex-direction: row;
    justify-content: center; }
    .section-two__img {
      max-width: 40vw; }
    .section-two__card-container {
      display: flex; } }

.section-three {
  margin-inline: 10%; }
  .section-three__p {
    color: white; }
  .section-three .card {
    background-color: #edf2f4;
    margin-top: 15px; }

@media (min-width: 1024px) {
  .section-three {
    flex-direction: row;
    justify-content: center; }
    .section-three__img {
      max-width: 40vw; }
    .section-three__card-container {
      display: flex; } }

.footer {
  background-color: #2b2d42;
  margin-top: 20px; }
  .footer__h3 {
    color: white;
    margin: 20px; }
  .footer__ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-top: 10px; }
    .footer__ul li {
      margin-inline: 5px; }
      .footer__ul li a {
        text-decoration: none;
        color: white; }
  .footer__h6 {
    color: white;
    margin: 5px; }
