*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-y: hidden;
    // border: 1px solid black;
}

body{
    background-image: url(../assets/nosotros/background-nosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
}



@import './variables/colors';
@import './variables/fonts';
@import './variables/extend';

.navbar-toggler{
    background-color: $blanco;
}

@import './sections/grid';
@import './sections/menu-navegacion';
@import './sections/section-one';
@import './sections/section-two';
@import './sections/section-three';
@import './sections/footer';