.section-three{
    @extend %flex-column-center;
    margin-inline: 10%;
    &__img{
        @extend %img-redondeada;
    }
    
    &__p{
        @extend %parrafo-bonito;
        color: $blanco;
    }

    .card{
        background-color: $gris-claro;
        margin-top: 15px;
    }
}

// Elementos ocultos para pantallas chicas
@media (max-width: 1023px){
   
}


// Elemtos para pantalla grande
@media (min-width: 1024px){
    .section-three{
        flex-direction: row;
        justify-content: center;
        &__img{
            max-width: 40vw;
        }
        &__card-container{
            display: flex;
        }
    }
}