.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $gris-claro;
    &__img{
        @extend %img-redondeada;
    }
    &__a{
        margin: 30px;
        text-decoration: none;
        color: $blanco;
        font-family: $roboto;
        font-weight: 200;
        letter-spacing: 2px;
        padding: 10px;
        background-color: $rojo;
        border: solid 2px $rojo;
        border-radius: 14px;
        box-shadow: 0 0 7px 3px $color-arcilla;
    }
    &__h1{
        margin: 10px;
        font-family: $roboto;
    }
}