.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gris-claro;
    &__img{
        @extend %img-redondeada;
    }
    &__p{
        @extend %parrafo-bonito;
    }
}

