.section-one{
    @extend %flex-column-center;
    &__img{
        max-width: 80vw;
        border: 2px solid transparent;
        margin: 10px;
        &--anonymous{
            @extend %img-redondeada;
        }
    }
    &__a{
        @extend %boton-jugar;
        &--card{
            text-decoration: none;
            color: $blanco;
            font-family: $roboto;
            background-color: $rojo;
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__h1{
        margin: 10px;
        font-family: $roboto;
    }
    
    &__container{
        background-color: $gris-medio;
        margin: 10px;
        padding: 10px;
        border: solid 2px $gris-claro;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    &__checkbox-container{
        display: flex;
        flex-direction: row;
    }

    

    .card{
        background-color: $gris-claro;
        margin-top: 15px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

}

// Elementos ocultos para pantallas chicas
@media (max-width: 1023px){
   
}


// Elemtos para pantalla grande
@media (min-width: 1024px){
   .section-one{
    &__card-container{
        display: flex;
    }
    &__container{
        margin: 100px;
    }
   }
   .card{
        margin-inline: 10px;
   }
}
