%img-redondeada{
    max-width: 80vw;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 10px;
}

%parrafo-bonito{
    padding: 20px;
    text-align: center;
    margin: 10px;
    text-shadow: 0 0 20px black;
    letter-spacing: 2px;
    font-family: $roboto;
}